<footer class="footer">
      <div class="footer-list">
        <div class="footer-logo">
          <img src="assets/img/butterfly.png" alt="butterfly" class="logo">
          <span>Leospa</span>
        </div>
        <div class="footer-img">
          <ul>
            <li>
              <a href="/" class="social">
                Twitter
              </a>
            </li>
            <li>
              <a href="/" class="social">
                Facebook
              </a>
            </li>
            <li>
              <a href="/" class="social">
                YouTube
              </a>
            </li>
            <li>
              <a href="/" class="social">
                Instagram
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-copyright">
          <div>
            <span>© COPYRIGHT 2019 THEMEIES.COM. <br> ALL RIGHTS RESERVED.</span>
          </div>
        </div>
      </div>
    </footer>


