<div class="container">
  <div class="wrap">
    <h3 class="title">Reserve Procedures</h3>
    <p>
      We invite you to reserve services.
    </p>
    <p>
      Quality assurance!
      Accuracy of work!
      Democratic prices!
    </p>
  </div>

  <div class="wrapper">
    <div [formGroup]="form" class="address">
      <div class="card" formGroupName="address">
        <div class="form-control">
          <label>Address</label>

          <select formControlName="city">
            <option value="ru">Moscow</option>
            <option value="kg">Bishkek</option>
            <option value="by">Minsk</option>
          </select>

          <label>Add street</label>
          <div class="form-control">
            <input type="text" formControlName="street" placeholder="Street">
          </div>

          <button type="button" mat-flat-button>Сhoose a address</button>
        </div>
      </div>
    </div>
    <div class="service-one">
      <mat-checkbox>HAIRDRESSING SERVICES</mat-checkbox>
      <mat-checkbox>MANICURE</mat-checkbox>
      <mat-checkbox>PEDICURE</mat-checkbox>
      <mat-checkbox>MAKEUP</mat-checkbox>
      <mat-checkbox>COSMETOLOGY</mat-checkbox>
      <mat-checkbox>MASSAGE</mat-checkbox>
      <mat-checkbox>EYELASH EXTENSIONS</mat-checkbox>
      <mat-checkbox>TATOUAGE</mat-checkbox>
      <mat-checkbox>BODY PEELING</mat-checkbox>
    </div>
    <div class="service-two">
      <mat-checkbox>BEAUTY INJECTION</mat-checkbox>
      <mat-checkbox>LPG</mat-checkbox>
      <mat-checkbox>SPA</mat-checkbox>
      <mat-checkbox>SOLARIUM</mat-checkbox>
      <div class="form-control mt-15">
        <label></label>
        <input type="text" placeholder="Add comment">
      </div>
      <button mat-flat-button type="submit">Submit</button>
    </div>
  </div>

</div>


