<div class="sec-about">
    <img src="assets/img/butterfly.png">
    <span class="tagline">ABOUT OUR SPA CENTER</span>
    <h1 class="sec-title">Come and you will be Inspired!</h1>

    <p class="sec-txt">
        It’s the end of summer the sweltering heat makes human sweat in the night and makes
        the plants and trees wilt even in the moonlit nights. The eastern wind breeze brings
        an eerie feeling, that the monsoon clouds are soon coming, there is a strange silence
        in the ears, the sky gets darker and darker
    </p>

    <button mat-flat-button color="warn">read more</button>
</div>

