<div class="sec-service-txt">
    <img src="assets/img/jasmine.png" alt="flower-1">
    <h3 class="sec-title">Popular Procedures</h3>
    <p>To doesn't his appear replenish together called he of mad place
        won't wherein blessed second every wherein were meat kind wherein and martcin</p>
</div>

<div class="card">
    <mat-card class="example-card" *ngFor="let service of categoryService.service">
        <mat-card-header></mat-card-header>
        <img mat-card-image [src]="service.img" [alt]="service.title">
        <mat-card-content>
            <mat-card-title>{{service.title}}</mat-card-title>
            <p>
              {{service.text}}
            </p>
        </mat-card-content>
        <mat-card-actions>
<!--            <button mat-flat-button color="warn" [routerLink]="['/service', service.id]">read more</button>-->
            <button mat-flat-button color="warn" (click)="openDetail(service.id)">read more</button>
        </mat-card-actions>
    </mat-card>

</div>

