<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at hic itaque quibusdam rem,
    sunt? Enim nemo quae repellendus veniam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias consectetur culpa,
    cupiditate distinctio eaque earum et expedita facere facilis inventore iure libero magnam magni
    maiores, odit officia quas totam.</p>
<p>Lorem ipsum dolor sit amet, consectetur.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa harum impedit provident ratione sunt!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ipsam officia unde ut!</p>

<button mat-flat-button color="warn" [routerLink]="['/about']">Hide</button>