<div class="wrapper">
    <h3 class="title">Get In Touch</h3>
    <p>
      To doesn't his appear replenish together called he of mad place won't wherein
      blessed second every wherein were meat kind wherein and martcin
    </p>
</div>
<div class="container">
  <div class="address">
    <span>
      <mat-icon aria-hidden="false" aria-label="Example home icon">room</mat-icon>
      848 E 28th ST, BROOKLYN
      NEW YORK, USa
    </span>
    <span>
      <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
      example@leospa.com
    </span>
    <span>
      <mat-icon aria-hidden="false" aria-label="Example home icon">phone_android</mat-icon>
      tel:+02 365 2365 3265 (02)
    </span>
  </div>
   <form class="card" [formGroup]="form" (ngSubmit)="submit()">
     <div class="form-control">
       <label>Name</label>
       <input type="text" placeholder="Name" formControlName="name">
       <div
         *ngIf="form.get('name').invalid && form.get('name').touched"
         class="validation"
       >
         <small *ngIf="form.get('name').errors.required">
           Name field cannot be empty
         </small>
         <small *ngIf="form.get('name').errors.minlength">
           Must be at least {{form.get('name').errors.minlength.requiredLength}}
           Now the number of characters {{form.get('name').errors.minlength.actualLength}}
         </small>
         <small *ngIf="form.get('name').errors.maxlength">
           Must be at least {{form.get('name').errors.maxlength.requiredLength}}
           Now the number of characters {{form.get('name').errors.maxlength.actualLength}}
         </small>
       </div>
     </div>
     <div class="form-control">
       <label>Email</label>
       <input type="text" placeholder="Email" formControlName="email">
       <div
         *ngIf="form.get('email').invalid && form.get('email').touched"
         class="validation"
       >
         <small *ngIf="form.get('email').errors.email">
           Please enter a valid email
         </small>

         <small *ngIf="form.get('email').errors.required">
           Email field cannot be empty
         </small>

       </div>
     </div>
     <div class="form-control">
       <label>Write comment</label>
       <input type="text" placeholder="Write comment" formControlName="text">
       <div
         *ngIf="form.get('text').invalid && form.get('text').touched"
         class="validation"
       >
         <small *ngIf="form.get('text').errors.required">
           Write comment field cannot be empty
         </small>
         <small *ngIf="form.get('text').errors.maxlength">
           Must be at least {{form.get('text').errors.maxlength.requiredLength}}
           Now the number of characters {{form.get('text').errors.maxlength.actualLength}}
         </small>
       </div>
     </div>
     <button mat-flat-button type="submit" [disabled]="form.invalid">Submit now</button>
   </form>
</div>







