.wrapper{
  text-align: center;
  padding: 50px 0;
}
.title {
  color: #1e2528;
  font-size: 42px;
  margin-bottom: 32px;
}
.container{
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.address{
  width: 50%;
}
.mat-icon{
  padding: 5px;
}
.card{
  width: 50%;
}
.form-control input{
  border: 1px solid #e3e6ea;
  display: block;
  padding: 10px 20px;
  margin-bottom: 25px;
  width: 90%;
}
.room{
  color: #888888;
  padding: 10px;
}
.room span, .email span, .tel span{
  position: relative;
  top: -6px;
}
.email{
  color: #888888;
  padding: 10px;
}
.tel{
  color: #888888;
  padding: 10px;
}

.mat-flat-button{
  background-color: #ff817e;
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.8;
  text-transform: uppercase;
  min-width: 170px;
  padding: 20px 15px;
}

input{
  &.ng-invalid.ng-touched{
    border: 1px solid #ff817e;
  }
  &.ng-valid.ng-touched{
    border: 1px solid #90EE90;
  }
}

.validation{
  color: #ff817e;
}

.form-control .write-comment{
  padding: 35px 20px;
}

*:focus {
  outline: none;
}
