<div class="container bg-leaf">
    <div>
        <img src="assets/img/leaf.png">
    </div>
    <div class="w-50">
        <span class="spa">SPA & BEAUTY CENTER</span>

        <h2 class="main-text">Beauty and success starts here.</h2>

        <p class="spa-text">Together creeping heaven upon third dominion be upon won't darkness
            rule behold it created good saw after she'd Our set living. Together creeping heaven upon
            third dominion be upon won't darkness rule behold it created good saw after she'd Our set living.</p>
        <p class="spa-text">Together creeping heaven upon third dominion be upon won't darkness
            rule behold it created good saw after she'd Our set living.</p>

        <button mat-flat-button color="warn">reserve now</button>
    </div>
    <div>
        <img src="assets/img/girl.png" class="w-400">
    </div>
</div>




